@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a class="btn btn-info" asp-controller="Personi" asp-action="Index">Personin</a>
        <a class="btn btn-info" asp-controller="Rastis" asp-action="Index">Rastet</a>
        <a class="btn btn-info" asp-controller="Kategorias" asp-action="Index">Kategorit e Rasteve</a>
    </div>
